Aula9/Fazer agendamento Cal.com.yml
app:
  description: Fazer agendamento Cal.com
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Fazer agendamento Cal.com
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 6dc75fc5-18e1-4516-bbe8-0998388bd3b6
    name: eventypeid
    value: 1261162
    value_type: number
  - description: ''
    id: 34875a28-4e26-4edc-b6c0-e8fc2f04be71
    name: api_cal
    value: ''
    value_type: secret
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1729813863121-source-1729814182821-target
      source: '1729813863121'
      sourceHandle: source
      target: '1729814182821'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: end
      id: 1729814182821-source-1729815374498-target
      source: '1729814182821'
      sourceHandle: source
      target: '1729815374498'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Iniciar
        type: start
        variables:
        - label: Slot de data de agendamento para agendar
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: dataslot
        - label: nome completo
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: nome
        - label: email
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: email
        - label: telfone (xx) xxxxx-xxxx
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: telefone
        - label: eventTypeId
          max_length: 48
          options: []
          required: true
          type: number
          variable: eventTypeId
      height: 194
      id: '1729813863121'
      position:
        x: 48
        y: 218
      positionAbsolute:
        x: 48
        y: 218
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: "{\n  \"start\": \"{{#1729813863121.dataslot#}}\",\n  \"eventTypeId\"\
            : 1261162,\n  \"attendee\": {\n    \"name\": \"{{#1729813863121.nome#}}\"\
            ,\n    \"email\": \"{{#1729813863121.email#}}\",\n    \"timeZone\": \"\
            America/Cuiaba\",\n    \"language\": \"pt-BR\"\n  },\n  \"guests\": [],\n\
            \  \"meetingUrl\": \"http://unemat.br\",\n  \"location\": \"http://unemat.br\"\
            ,\n  \"bookingFieldsResponses\": {\n    \"customField\": \"dify\"\n  }\n\
            }\n"
          type: json
        desc: ''
        headers: 'Authorization:Bearer {{#env.api_cal#}}

          cal-api-version:2024-08-13'
        method: post
        params: ''
        selected: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Requisição HTTP
        type: http-request
        url: https://api.cal.com/v2/bookings
        variables: []
      height: 110
      id: '1729814182821'
      position:
        x: 382
        y: 183
      positionAbsolute:
        x: 382
        y: 183
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1729814182821'
          - body
          variable: body
        selected: false
        title: Fim
        type: end
      height: 90
      id: '1729815374498'
      position:
        x: 686
        y: 183
      positionAbsolute:
        x: 686
        y: 183
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 74.36342969075065
      y: 58.4176556294329
      zoom: 0.7638738190462009
